<h2>Users </h2>



<form >
  <div class="panel-heading panel panel-default form-group">
    <h3>Add a new User</h3>

    <div class="panel panel-default">
      <div class="panel-body">
        <label>Student name:</label>
        <input [(ngModel)]="userName" type="text" class="form-control" name="username4334" placeholder="Name">

        <label>Password:</label>
        <input type="password" class="form-control" [(ngModel)]="password1" name="password1343" placeholder="Password">

        <label>Confirm Password:</label>
        <input type="password" class="form-control" [(ngModel)]="password2" name="pasword23323" placeholder="Password">

        <label>You will need to put your password every time you want to make a journal entry.</label>
        <br><br>

        <button class="btn btn-success" (click)="addUser()" >Create user</button>

      </div>
    </div>
  </div>
</form>
