




<div class="container-fluid">
  <h2>Home </h2>
  
  
      <div class="jumbotron">
  
        <h2>Welcome to the course INSO4116 Software Design journal page </h2>
  
        <p> In this page every student will be posting every week what he learns in the class and in their assignments.</p>
  
  </div>


  <form>
    <div class="panel-heading panel panel-default form-group">
      <h3>Add a new entry</h3>

      <div class="panel panel-default">
        <div class="panel-body">
          <label>Name of student:</label>
          <select [(ngModel)]="userSelected" name="userSelected">
          <option *ngFor="let user of userNames" [ngValue]="user.userName"> {{ user.userName }}</option>
          </select>
          <br>
          <label>Journal entry:</label>
          <textarea [(ngModel)]="body" class="form-control" name="body" cols="40" rows="5" required></textarea>

          <label>Password:</label>
          <input [(ngModel)]="passwordTyped" name = "password" type="password" class="form-control" required>
          <br><br>

          <button class="btn btn-success" (click)="submitPost(mymodal);">Submit</button>
      </div>
    </div>
    </div>
    </form>

    <ng-template #mymodal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title"> {{myMessage}}</h4>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
      </div>
    </ng-template>
    
    


  
    <h3>Journal entries:</h3>
  <div  *ngFor="let post of posts">
  
  
      <div class="panel-heading panel panel-default">
        <h3>{{ post.userName }}
        </h3>
  
  
    <div class="panel panel-default">
      <div class="panel-body">
      <p>
        {{post.body}}
      </p>
      </div>
      
    </div>
    <p> {{post.date}}</p>
    </div>
  </div>
      
  </div>
  
  
  
  